body{
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
/*base divs*/
#content{
  width: 100%;
  height: 100%;

}

#map{
  width: 100%;
  height: 100%;
}

h2,h3{
  text-align: center;;
  margin: 0
}

hr{
  color: #cecece;
  width: 75%;
}
.menuHeader{
  line-height: 48px !important;
  width: 100%;
  margin: 0;
}
.menuHeader:hover{
  background-color: #415c93 !important;
}
.makeMaps-options{
  background-color: #1a263f;
  cursor: default;
}
.symbolIcon:hover{
  border: 1px solid #999999 !important;
}
.dialogHeader{
  height: 40;
  background: #6891e2;
  color: white;
}

.react-draggable{
  position: absolute;
  left: 0px;
  top: 400px;
  background: white;
  border-radius: 15px;
  border: 2px solid gray;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600;
}

.primaryButton {
	background-color:#6891e2;
	text-indent:0;
	border:1px solid #549341;
  border-radius: 5px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:131px;
	text-decoration:none;
	text-align:center;
}.primaryButton:hover {
	background-color:#415c93;
}
.primaryButton:disabled{
  background-color:#c1c1c1;
}
/* This button was generated using CSSButtonGenerator.com */

.secondaryButton{
  background-color:transparent;
	text-indent:0;
	border:1px solid transparent;
  border-radius: 5px;
	display:inline-block;
	color:#c1c1c1;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:131px;
	text-decoration:none;
	text-align:center;
}.secondaryButton:hover {
	border: 1px solid #c1c1c1;
}

.menuButton {
	background-color:#FFFFFF;
	text-indent:0;
	border:1px solid #549341;
	color:#c1c1c1;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100%;
	text-decoration:none;
	text-align:center;
}.menuButton:hover {
	background-color:#293c60;
}

.colorBlock{
  cursor: pointer;
  width: 100px;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  line-height: 70px;
}
