body{
  font-family:'dejavu_sansbook', 'dejavu_sansextralight',Arial,sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;

}
/*base divs*/
#content{
  width: 100%;
  height: 100%;

}

#map{
  width: 100%;
  height: 100%;
}


h2,h3{
  font-family: 'dejavu_sansextralight',Arial,sans-serif;
  text-align: center;
  margin: 0;
  text-align: center;
  margin: 0;
}

hr{
  color: #cecece;
  width: 75%;
}

.menuOpen{
  -webkit-animation: menuOpen 0.3s;
  animation: menuOpen 0.3s;
}
.menuClose{
  -webkit-animation: menuClose 0.3s;
  animation: menuClose 0.3s;
}

.legendRightAnimate{
  -webkit-animation: legendMoveLeft 0.3s;
  animation: legendMoveLeft 0.3s;
}

.legendLeftAnimate{
  -webkit-animation: legendMoveRight 0.3s;
  animation: legendMoveRight 0.3s;
}

.demoImage{
  -webkit-animation: imageReveal 0.6s;
  animation: imageReveal 0.6s;
}

.menu{
  color:#9e9e9e;
  text-align: center;
}
.menu label{
  margin-top: 20px;
  display: inline-block;
}
.menuHeader{
  text-align: center;
  margin: 0 auto;
}

.menuHover{
  position: absolute;
  top:50%;
  left:50%;
}

.rotate{
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  display: none;
  white-space: nowrap;
}

.menuHeaderDiv{
  margin: 0;
  width: 30px;
  height: 100%;
  position: relative;
  display:flex;
  align-items:center;
  cursor: pointer;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.menuHeaderDiv:hover{
  background-color: #ddd !important;
}
.menuHeaderDiv:hover span{
  display: inline-block;
}
.menuHeaderDiv:hover i{
  display: none;
}
.makeMaps-options{
  background-color: #ededed;
  cursor: default;
}
.symbolIcon:hover{
  border: 1px solid #999999 !important;
}
.dialogHeader{
  height: 40px;
  background: #6891e2;
  color: white;
}

.react-draggable{
  position: absolute;
  left: 0px;
  top: 400px;
  background: white;
  border-radius: 15px;
  border: 2px solid gray;
  overflow-x: hidden;
  overflow-y: auto;
}

.primaryButton {
	background-color:#ffffff;
	text-indent:0;
	border:1px solid #54b4ce;
  border-radius: 5px;
	display:inline-block;
  font-family:'dejavu_sansbook',Arial,sans-serif;
	color:#7a7a7a;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	line-height:38px;
	width:131px;
	text-decoration:none;
	text-align:center;
}

.primaryButton:hover {
  color: #3f3f3f;
  border: 3px solid #54b4ce;
  line-height: 34px;
}
.primaryButton:disabled{
  background-color:#c1c1c1;
  border:1px solid #c1c1c1;

}
/* This button was generated using CSSButtonGenerator.com */

.secondaryButton{
  background-color:transparent;
	text-indent:0;
	border:1px solid transparent;
  border-radius: 5px;
	display:inline-block;
	color:#c1c1c1;
	font-size:15px;
	font-weight:bold;
  font-family:'dejavu_sansbook',Arial,sans-serif;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:131px;
	text-decoration:none;
	text-align:center;
}.secondaryButton:hover {
	border: 1px solid #c1c1c1;
}

.dropButton:hover{
  width: 296px !important;
}

.dropZone{
  border : 1px solid #54b4ce;
  height: 150px;
  line-height: 150px;
  border-radius: 15px;
  margin: 5px;
  text-align: center;
  color: grey;
  font-weight: bold;
}

.dropZone:hover {
  color: #3f3f3f;
  border: 3px solid #54b4ce;
  line-height: 146px;
  margin: 3px;

}

.menuButton {
  background-color: #ffffff;
   border: 1px solid #54b4ce;
   color: #7a7a7a;
   font-size: 15px;
   font-style: normal;
   font-weight: bold;
   height: 40px;
   font-family:'dejavu_sansbook',Arial,sans-serif;
   line-height: 38px;
   text-align: center;
   text-decoration: none;
   text-indent: 0;
   width: 100%;
   border-radius: 4px;
}.menuButton:hover {
    color: #3f3f3f;
    border: 3px solid #54b4ce;
    line-height: 34px;
}

.welcomeDemoButton{
  border: 1px solid #85cee2;
  margin: 2px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #85cee2;
  outline: none;

}
.welcomeDemoButton.active{
  background: #fff;
}

.colorBlock{
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  height:32px;
  line-height: 32px;
}

.ReactModal__Overlay--after-open{
  z-index: 600;
}

.legend{
  max-height: 95%;
  max-height: calc(100% - 15px);
  z-index: 600;
  overflow-y: auto;
}

.filter{
  max-height: 95%;
  z-index: 600;
  padding: 10px;
}

.marker-hidden{
  display: none !important;
}

.notification{
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  background: white;
  border: 1px solid #cecece;
  border-radius: 15px;
  margin:0 auto;
}

#loading{
  top: 0;
  z-index: 999;
  max-width: 150px;
}

#notification{
  flex-direction: column;
  z-index: 998;
  top: 40%;
  max-width: 500px;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

@keyframes imageReveal {
  from{
    filter: blur(5px) brightness(0.8);
    -webkit-filter: blur(5px) brightness(0.8);
    -moz-filter: blur(5px) brightness(0.8);
    -o-filter: blur(5px) brightness(0.8);
    -ms-filter: blur(5px) brightness(0.8);
  }
  to{
    filter: blur(0px) brightness(1);
    -webkit-filter: blur(0px) brightness(1);
    -moz-filter: blur(0px) brightness(1);
    -o-filter: blur(0px) brightness(1);
    -ms-filter: blur(0px) brightness(1);
  }
}

@-webkit-keyframes menuOpen {
   from {width:0}
   to {width: 250}
}

@-webkit-keyframes menuClose {
   from {width:250}
   to {width: 0}
}

@keyframes menuOpen {
   from {width:0}
   to {width: 250px}
}

@keyframes menuClose {
   from {width:250px}
   to {width: 0}
}

@-webkit-keyframes legendMoveLeft {
  from{right:30px}
  to {right: 282px}
}

@-webkit-keyframes legendMoveRight {
  from{right:282px}
  to {right: 30px}
}

@keyframes legendMoveLeft {
  from{right:30px}
  to {right: 282px}
}

@keyframes legendMoveRight {
  from{right:282px}
  to {right: 30px}
}
